.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.form input{
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form2 input{
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

body{
  background-color: rgba(110, 188, 234, 0.432);
  box-shadow: rgb(51, 100, 125);
}



h1{
  font-size: 20pt;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(7, 62, 135, 0.946);
}

h2{
  color: #122e3da6;
  font-size: 20pt;
}

button{
  background-color:rgb(143, 185, 202);
  border-color: rgb(57, 70, 75);
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 10pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition-duration: 0.4s;
}

button:hover{
  background-color: rgb(16, 98, 131);
  color: whitesmoke;
}

label{
color:rgba(3, 31, 40, 0.892);
margin-bottom: 0.2%;
}

.l1{
color:rgba(3, 31, 40, 0.892);
margin-bottom: 20%;
margin-left: 10%;
margin-top: 15%;
font-family: 'Open Sans Condensed', sans-serif; font-size: 49;
font-size: 13pt;
}



input{
  border-radius: 15px;
  font-family: 'Times New Roman', Times, serif;

}

.heading{
  font-size: 50pt;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(6, 105, 138, 0.892);
}

.error{
  margin-top: 20px;
  font-size: 10pt;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(165, 15, 20, 0.946);
}

.etype{
  margin-top: 1%;
  width:20%;
  text-align: left;
  border-radius: 15px;
  border-style:solid;
  padding: 4px;
  margin-right: 40%;
}

.submitGrade{
  width: 8rem;
    height: 3rem;
    font-size: 10pt;
    color: #fff;
    background-color: #073b4c;
    /* padding: 5rem; */
    border: none;
    border-radius: 0.5rem;
    margin: auto 0rem;
    cursor: pointer;
    margin-top: 0rem;
  margin-bottom: 2rem;
    text-align: center;
     margin-left: 45%;
}