
h1{
    font-size: 50pt;
    font-weight:bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(6, 105, 138, 0.892);
    text-align: center;
}
  
h2{
    font-size: 20pt;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(6, 105, 138, 0.892);
    text-align: center;
}

.studentImage{
    display:inline-flex;
  width: 30%;
  margin-left:300px;
  margin-top:120px;
  margin-right: auto;
}

.adminImage{
    display:inline-flex;
    width: 30%;
    margin-top:120px;
    margin-left: 30px;
    margin-right: auto;
  }

.S{
    font-size: 15pt;
    font-weight:normal;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(6, 105, 138, 0.892);
    /* text-align: center; */
    margin-bottom: 15%;

}

.E{
    font-size: 15pt;
    font-weight:normal;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(6, 105, 138, 0.892);
    /* text-align: center; */
    margin-bottom: 15%;
}

body{
    background-color: rgba(177, 204, 219, 0.432);
    box-shadow: rgb(51, 100, 125);
}